@model IEnumerable<TFG.RulesPenaltiesF1.Core.Entities.Driver>

@{
    ViewData["Title"] = "Drivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Drivers - Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePoints)
            </td>
            <td>
                @{
                    if(item.Competitor is not null)
                    {
                        @Html.DisplayFor(modelItem => item.Competitor.Name)
                    }
                    else
                    {
                        <nobr>No Competitor</nobr>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
